BODY
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #DAEEF3;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    padding: 20px;
}
DIV.pageheader
{
    FONT-SIZE: 16pt;
    COLOR: #FFFFFF;
    BACKGROUND: #00A0E0;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    margin-left: auto ;
    margin-right: auto;
    border-radius: 0px;
    padding: 0px;
}
DIV.engine
{
    FONT-SIZE: 12pt;
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    font-weight: bold;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    padding: 5px;
}
DIV.engine_details
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #F0F0F0;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    margin-left: auto ;
    margin-right: auto ;
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    text-align: center;
}
DIV
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    margin-left: auto ;
    margin-right: auto ;
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;
}
TABLE.pageheader
{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border: 0px solid #DDDDDD;
    padding: 20px;
}
TABLE.result
{
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid #DDDDDD;
   border-radius: 10px;
}
TABLE.engine_title
{
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 5px;
    border: 0px solid #DDDDDD;
    padding: 5px;
}
TABLE.container
{
    margin-left: auto ;
    margin-right: auto ;
    background-color: #FFFFFF;
}
TR.engine_title
{
   background-color: #FFFFFF;
}
TD.engine_title
{
    FONT-SIZE: 14pt;
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    font-weight: bold;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
   background-color: #FFFFFF;
}
TR.container
{
   background-color: #FFFFFF;
}
TR.pageheader_top
{
   background-color: #00A0E0;
}
TR.pageheader_bottom
{
   background-color: #0070C0;
}
TD.engine_title
{
   background-color: #FFFFFF;
}
TD.container
{
   background-color: #FFFFFF;
}
TR.result
{
   background-color: #FFFFFF;
   border-radius: 10px;
}
TD.pageheader_top
{
    FONT-SIZE: 24pt;
    COLOR: #FFFFFF;
    background-color: #00A0E0;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    text-align: left;
    border: 0px;
    border-color: #FFFFFF;
    padding: 10px;
}
TD.pageheader_bottom
{
    FONT-SIZE: 8pt;
    COLOR: #FFFFFF;
    background-color: #0070C0;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    font-weight: italic;
    TEXT-DECORATION: none;
    text-align: left;
    border: 0px;
    border-color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
TD.result_number
{
    FONT-SIZE: 30pt;
    COLOR: #555555;
    background-color: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    font-weight: bold;
    TEXT-DECORATION: none;
    text-align: center;
    border: 2px;
    border-color: #FFFFFF;
    padding: 5px;
}
TD.result_number_error
{
    FONT-SIZE: 30pt;
    COLOR: red;
    background-color: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    font-weight: bold;
    TEXT-DECORATION: none;
    text-align: center;
    border: 2px;
    border-color: #FFFFFF;
    padding: 5px;
}
TABLE.pageheader
{
    COLOR: #FFFFFF;
    BACKGROUND: #00A0E0;
    padding: 0px;
    border-style:none none dotted;
    border-spacing: 0px 0px;
    width: 100%;
}
TABLE
{
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    padding: 10px;
    border-style:none none dotted;
    border-color: #FFFFFF;
    border-spacing: 1px 10px;
}
TH.result
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    border: 0px solid #EEEEEE;
    border-radius: 0px;
    height: 20px;
}
TH
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #F0F0F0;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    border: 1px solid #EEEEEE;
    height: 30px;
    background-image: -webkit-linear-gradient(white 0%, #F0F0F0 100%); 
    background-image: -moz-linear-gradient(white 0%, #F0F0F0 100%); 
    background-image: -o-linear-gradient(white 0%, #F0F0F0 100%); 
    background-image: linear-gradient(white 0%, #F0F0F0 100%);
    border-radius: 5px;
    cursor: pointer;
}
tbody tr:nth-child(odd) {
   background-color: #F7F7F7;
}
table thead tr .headerSortUp {
    background-image: url(JQuery/up.gif);
    background-position:right 50%;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
}
table thead tr .headerSortDown {
    background-image: url(JQuery/down.gif);
    background-position:right 50%;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
}

TD
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    text-align: center;
    border: 2px;
    border-color: #FFFFFF;
    padding: 5px;
}
TD.message
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none;
    text-align: left;
    border: 2px;
    border-color: #FFFFFF;
}
A.details
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #0000aa;
    TEXT-DECORATION: none
}
P
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.disabled
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #DDDDDD;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TABLE.tabs
{
    BACKGROUND: #DDDDDD;
    padding-bottom:0px
}
TD.head2
{
    BACKGROUND: #555555
}
TD.tabon
{
    background:#555555
}
TD.taboff
{
    background:#FFFFFF
}
TD.oddrow
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    background:DDDDDD;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TD.evenrow
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    BACKGROUND: #FFFFFF;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TD.note
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    background:#EEEEEE;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
XMP.tbl-fullpage-bodydark
{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    background:#DDDDDD;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
XMP.tbl-fullpage-bodylight
{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    BACKGROUND: #eeeeee;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
XMP.note
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    background:#EEEEEE;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
UL
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    LIST-STYLE-TYPE: square;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
OL
{
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    LIST-STYLE-TYPE: decimal;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
LI
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #555555
}
LI.no-indent
{
    MARGIN-TOP: 4pt;
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #555555;
    LIST-STYLE-TYPE: square
}
LI.highlight
{
    MARGIN-TOP: 6px;
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    MARGIN-LEFT: -14px;
    COLOR: #555555;
    LIST-STYLE-TYPE: square
}
LI.navigation
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    MARGIN-LEFT: -15px;
    COLOR: #ffffff;
    LIST-STYLE-TYPE: square
}
P.h5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #FFFFFF;
    background: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.h6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TD.top-navigation
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TD.smallhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #003366;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.link-history
{
    FONT-SIZE: 10pt;
    COLOR: #888888;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.call-to-action
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #333333;
    LINE-HEIGHT: 13pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.navigation
{
    MARGIN-TOP: 2pt;
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff
}
P.copyright
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.firsthead 
{
    font: 16pt tahoma, arial, helvetica, sans-serif;
    text-decoration: none;
    font-style: none;
    font-weight: bold;
    color:#ff9900;}
P.head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    COLOR: #003366;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
P.subhead
{
    MARGIN-TOP: 0px;
    FONT: bold italic 10pt verdana, arial, helvetica, sans-serif;
    COLOR: #999900;
    TEXT-DECORATION: none
}
P.subhead-two
{
    FONT: bold italic 9pt verdana, arial, helvetica, sans-serif;
    COLOR: #cc9933;
    TEXT-DECORATION: none
}
B.subhead-three
{
    FONT: bold italic 10pt verdana, arial, helvetica, sans-serif;
    COLOR: #cc6600;
    TEXT-DECORATION: none
}
LI.home
{
    MARGIN-TOP: 6px;
    MARGIN-LEFT: -14px
}
A.tbl-subhead
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
A.tbl-subhead:visited
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
A.tbl-subhead:hover
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
P.solution-highlight-content
{
    MARGIN-TOP: 3px;
    MARGIN-LEFT: 19px;
    LINE-HEIGHT: 13pt
}
P.sap-announces
{
    MARGIN-TOP: 10px;
    MARGIN-LEFT: 19px;
    COLOR: #ffffff;
    LINE-HEIGHT: 12pt;
    MARGIN-RIGHT: 10px
}
A.sap-announces-links
{
    COLOR: #ffffff
}
A.sap-announces-links:visited
{
    COLOR: #ffffff
}
A.sap-announces-links:hover
{
    COLOR: #ffffff
}
.red
{
    COLOR: #993333
}
.dk-orange
{
    COLOR: #cc6600
}
.orange
{
    COLOR: #ff9900
}
.yellow
{
    COLOR: #cc9933
}
.green
{
    COLOR: #999900
}
.lt-blue
{
    COLOR: #6699cc
}
.blue
{
    COLOR: #336699
}
.purple
{
    COLOR: #663366
}
.gray
{
    COLOR: #666666
}
.white
{
    COLOR: #ffffff
}
.head3
{
    COLOR: #555555
}
.bg-blue
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #6699cc
}
.bg-green
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #999900
}
.bg-red
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #990033
}
/* A
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #336699;
    TEXT-DECORATION: underline
}
A:visited
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #663366;
    TEXT-DECORATION: underline
}
A:hover
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #336699;
    TEXT-DECORATION: none
}*/
A.country-name-link
{
    FONT: bold 13pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    MARGIN-RIGHT: 15px;
    TEXT-DECORATION: none
}
A.country-name-link:visited
{
    FONT: bold 13pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    MARGIN-RIGHT: 15px;
    TEXT-DECORATION: none
}
A.country-name-link:hover
{
    FONT: bold 13pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    MARGIN-RIGHT: 15px;
    TEXT-DECORATION: underline
}
A.icon-link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.icon-link:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.icon-link:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.tab-on
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.tab-off
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #555555;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.top-navigation
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.top-navigation:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.top-navigation:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #c8e3ff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.link-history
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #888888;
    TEXT-DECORATION: underline
}
A.link-history:visited
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #888888;
    TEXT-DECORATION: underline
}
A.link-history:hover
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #666666;
    TEXT-DECORATION: none
}
A.form-button
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.form-button:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.form-button:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #c8e3ff;
    LINE-HEIGHT: normal;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.webmaster
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #336699;
    TEXT-DECORATION: underline
}
A.webmaster:visited
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #336699;
    TEXT-DECORATION: underline
}
A.webmaster:hover
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #003366;
    TEXT-DECORATION: none
}
A.navigation
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal
}
A.navigation:visited
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal
}
A.navigation:hover
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.navigation-bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffa000;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.navigation-bold:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffa000;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
A.navigation-bold:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffa000;
    LINE-HEIGHT: 15pt;
    FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: underline
}
A.to-documentation
{
    FONT: 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff
}
A.to-documentation:hover
{
    FONT: 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.to-documentation:visited
{
    FONT: 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff
}
A.copyright:visited
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.copyright:hover
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
.tbl-whitespace
{
    FONT: 0pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff
}
TABLE.partpage
{
}
.tbl-partpage-subhead
{
    FONT: bold 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #336699
}
.tbl-partpage-bodydark
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #c8e3ff
}
.tbl-partpage-bodylight
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #e3f1ff
}
TABLE.fullpage
{
}
.tbl-fullpage-subhead
{
    FONT: bold 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #666666
}
.tbl-fullpage-subhead-lt
{
    FONT: bold 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #999999
}
.tbl-fullpage-bodydark
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #dddddd
}
.tbl-fullpage-bodylight
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #eeeeee
}
.dark
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #dddddd
}
.lt
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #eeeeee
}
.ltred
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #770000;
    BACKGROUND-COLOR: #eeeeee
}
.ltyellow
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #777700;
    BACKGROUND-COLOR: #eeeeee
}
.ltgreen
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #007700;
    BACKGROUND-COLOR: #eeeeee
}
.ltblue
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #000077;
    BACKGROUND-COLOR: #eeeeee
}
.darkred
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #770000;
    BACKGROUND-COLOR: #dddddd
}
.darkyellow
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #777700;
    BACKGROUND-COLOR: #dddddd
}
.darkgreen
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #007700;
    BACKGROUND-COLOR: #dddddd
}
.darkblue
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #000077;
    BACKGROUND-COLOR: #dddddd
}
.wt
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #FFFFFF
}
TABLE.quote
{
}
.tbl-quote-body
{
    FONT: bold 9pt/12pt tahoma, arial, helvetica, sans-serif;
    COLOR: #cc9933
}
.tbl-quote-name
{
    FONT-SIZE: 10pt;
    COLOR: #666666;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana, arial, helvetica, sans-serif;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
TABLE.highlightone
{
}
.tbl-highlightone-subhead
{
    FONT: bold 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #999900
}
.tbl-highlightone-body
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #e0e0a3
}
TABLE.highlighttwo
{
}
.tbl-highlighttwo-subhead
{
    FONT: bold 9pt tahoma, arial, helvetica, sans-serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ff9900
}
.tbl-highlighttwo-body
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #ffcc66
}
SELECT
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-COLOR: #ffffff
}
INPUT
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333
}
INPUT.radio
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    CURSOR: hand;
    COLOR: #333333
}
INPUT.search
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    CURSOR: text;
    COLOR: #333333;
    BACKGROUND-COLOR: #dfefff
}
INPUT.email-friend
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    WIDTH: 220px;
    COLOR: #333333
}
TEXTAREA
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    CURSOR: text;
    COLOR: #333333;
    BACKGROUND-COLOR: #ffffff
}
TEXTAREA.contactsap
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    WIDTH: 300px;
    CURSOR: text;
    COLOR: #333333;
    HEIGHT: 100px;
    BACKGROUND-COLOR: #ffffff
}
TEXTAREA.email-friend
{
    FONT: 10pt tahoma, arial, helvetica, sans-serif;
    WIDTH: 290px;
    CURSOR: text;
    COLOR: #333333;
    HEIGHT: 62px;
    BACKGROUND-COLOR: #ffffff
}
FIELDSET
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
LABEL
{
}
optgroup
{
}
TH
{
}
CAPTION
{
    FONT: bold 10pt tahoma, arial, helvetica, sans-serif;
    COLOR: #333333
}